.sxz_box{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.sxz_box>div{
	width: 290px;
	height: 110px;
	border-radius: 5px;/*边框圆角  数值为圆的半径*/
}
.sxz_box>div:nth-child(1){
	background: #9143da;
}
.sxz_box>div:nth-child(2){
	background: #5ad575;
}
.sxz_box>div:nth-child(3){
	background: #f18f4e;
}
.sxz_box>div:nth-child(4){
	background: #e65b78;
}
.sxz_box>div>a{
	display: flex;/*??????????????????*/
	width: 100%;
	height: 100%;
	align-items: center;/*弹性模型下子元素垂直方向居中对齐   felx-left/right为顶底对齐*/
	text-decoration: none;/*去下划线*/
	color: #FFFFFF;
	justify-content:center;/*水平方向居中对齐 左右同上*/
}
.sxz_box>div>a>img{
	width: 48px;
	height: 43px;
}
.sxz_box>div>a>div>p{
  padding-left:10px;
}
.sxz_box>div>a>div>p:nth-child(1){
	font-size: 1.5rem;
	
}
.sxz_box>div>a>div>p:nth-child(2){
	font-size: 0.8rem;
}

