.sxz_openclass{
	width: 1200px;
	height: 541px;
	margin: 0 auto;	
	border:1px solid #ababab;
	box-shadow: 1px 1px 5px #ababab;
	border-radius: 10px;
	margin-top: 50px;
	padding-top: 40px;
}
.sxz_openclass>div:nth-child(1){
	width: 1200px%;
	height: 120px;
	justify-content: space-around;
	display: flex;
}
.sxz_openclass>div:nth-child(1)>.sxz_items{
	width: 365px;
	height: 120px;
	background: url(../img/course_bg_01.png) no-repeat;
	position: relative;
}
.sxz_openclass>div:nth-child(1)>.sxz_items:nth-child(2){
	background: url(../img/course_bg_02.png);
}
.sxz_openclass>div:nth-child(1)>.sxz_items:nth-child(3){
	background: url(../img/course_bg_03.png);
}
.sxz_openclass>div:nth-child(1)>.sxz_items>img{
	position: absolute;      /*绝对定位*/
	top: -13px;
	left: 0;
}
.sxz_openclass>div:nth-child(1)>.sxz_items>div{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;/*垂直居中*/
	justify-content: center;
	 color: #ffffff;
	 letter-spacing: 0.1rem;
}
.sxz_openclass>div:nth-child(1)>.sxz_items>div>img{
	width: 70px;
	height: 70px;
	margin-right: 50px;
}
.sxz_openclass>div:nth-child(1)>.sxz_items>div a{
	text-decoration: none;
	color: #F99B4E;
	background: #FFFFFF;
	padding: 0 10px;
	border-radius: 4px;
	font-size: 0.9rem;
	letter-spacing: 0.2rem;
}
.sxz_openclass>div:nth-child(1)>.sxz_items>div span{
	font-size: 0.9rem;
}
.sxz_openclass>div:nth-child(1)>.sxz_items>div span:nth-child(2){
	font-size: 0.6rem;
}
.sxz_openclass>.sxz_nav{
	width: 100%;
	height: 51px;
	display: flex;
  margin-top: 10px;
	border-bottom: 1px solid #babebb;
}	
.sxz_openclass>.sxz_nav li{
	height: 51px;
	list-style: none;
	float: left;
	padding: 0 66px;
	line-height: 51px;
}
.sxz_openclass>.sxz_nav a{
	text-decoration: none;
	color: #000000;
	letter-spacing: 0.2rem;
	padding-bottom: 13px;
}
.sxz_openclass>.sxz_nav a:hover{
	border-bottom:  1px solid #000000;
}
.sxz_openclass>ul{
	display: flex;
	height: 50px;
	margin: 0 40px;
}
.sxz_openclass>ul>li{
	flex: 1;
	list-style: none;
	text-align: center;
	line-height: 50px;
}
@keyframes donghua{
	from{
		top: 0;
	}
	to{
		top: -310px;
	}
}
.sxz_openclass>.tb{
	position: relative;
	height: 250px;
	overflow:hidden;
}
.sxz_openclass>.tb>div{
	width: 1125px;
	height: 250px;
	margin: 0 40px;   
	position: absolute;
	top: 0px;
	left: 0px;
	animation:donghua 8s linear infinite ;
}
.sxz_openclass>.tb>div>ul{
	display: flex;
	height: 50px;
	border: 1px solid #FC9F53;
	margin: 10px 0;
	border-radius: 5px;
	animation:donghua 3s linear infinite;
}
.sxz_openclass>.tb>div>ul>li{
	flex: 1;
	list-style: none;
	text-align: center ;/*文本水平居中*/
	line-height: 50px;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	list-style: none;
}	
.sxz_openclass>.tb>div>ul:hover{
	background: rgba(255,243,233,0.5);
}
.sxz_openclass>.tb>div>ul>li>img{
	margin-right: 10px;
}
.sxz_openclass>.tb>div>ul>li>span{
	color: #FF0000;
}
.sxz_openclass>.tb>div>ul>li>a{
	width: 114px;
	height: 30px;
	background: #349FFA;
	padding: 8px 25px;
	border-radius: 15px;
	text-decoration: none;
	color: #FFFFFF;
}
